body {
    background-color: rgb(160, 194, 196);
}
.form {
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.forminput {
    display: inline;
}
.container{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    
}

#card{
    width: 500px;
    padding: 1em;
    border: 3px solid black;
    border-radius: 2%;
    background-color: rgb(163, 231, 233);
    text-align: center;
}
#content {
    margin-bottom: 4rem;
}
#fiveDay {
    display: flex;
    flex-wrap: wrap;
}
#fiveDayCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cityContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.cityContainer img {
    margin-left: 3em;
}

.innerCityContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.search{
    margin-right: 3em;
}
  .suggestions {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow:visible;
    justify-content: space-between;
  }
  
  .suggestions li {
    background: white;
    list-style: none;
    margin: 0;
    padding: 20px;
    transition: background 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: capitalize;
    cursor: pointer;
    z-index: 100;
    position: fixed;
  }
  
